#container{
    display: flex;
}

.board {
    margin:auto;
    margin-top: 1em;
    width: 30em;
    height: 30em;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);

}
.cell{
    border:1px solid black;
    width: 3em;
    height: 3em;

    text-align: center;
    font-size: 1em;
}

.ship{
    background-color: red;
}
